<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uiux">
        <activity
            android:name=".Activities.Admin.Supplies.SuppliesPriceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Services.UpdateServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Services.EditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Services.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Supplies.SuppliesImportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Type.UpdateTypeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Type.EditTypeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Type.TypeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Supplies.UpdateSuppliesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Supplies.EditSuppliesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Supplies.SuppliesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Category.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Category.UpdateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.UpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.PhoneUpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Sent_OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Profile.UserUpdateProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.MainActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".Activities.EntryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.User.MainActivityUser"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>