<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uiux"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.User.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Service.DisplayOrderServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Service.CancelServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.Review.AllReviewedActivity"
            android:exported="false" />

        <service
            android:name=".Utils.FCM.FCMNotificationService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.User.Service.BookServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Order.DisplayReturnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Order.ApproveReturnOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.CancelOrder.UserCancelOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.ReturnOrder.UserReturnOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.AccountWallet.ConfirmPINActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Order.PaypalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.AccountWallet.AccountWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.AccountWallet.RegisterWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AllSuppliesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Review.SupplyReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.User.ChatBotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Order.UpdateOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Order.EditOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.DisplayVoucher.DisplayVoucherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Order.OrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Discount.EditDiscountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Voucher.EditVoucherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Voucher.UpdateVoucherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Voucher.VoucherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Discount.UpdateDiscountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Discount.DiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Pet.UpdatePetInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Pet.EditPetInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Pet.PetInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Map.RouteBranchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Map.BranchMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Order.PaymentNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".Activities.User.Order.OrderPaymentActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activities.User.Order.OrderPaymentActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.User.AccountWallet.DisplayAccountWallet"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Branch.UpdateBranchStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Branch.EditBranchStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Branch.BranchStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SupplyDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Services.UpdateServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Services.EditServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Services.ServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Supplies.SuppliesImportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Type.UpdateTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Type.EditTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Type.TypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Supplies.UpdateSuppliesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Supplies.EditSuppliesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Supplies.SuppliesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Category.EditCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Category.UpdateCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.Category.CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.EditAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.UpdateAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.AddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.PhoneUpdateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Sent_OTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.User.Profile.UserUpdateProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin.MainActivityAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EntryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.User.MainActivityUser"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Notification" />
    </application>

</manifest>